.body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em 0 4em;
}

.logo {
  width: 300px;
  height: 100%;
}
.logo img {
  width: 50%;
  height: 50%;
}

.tex {
  width: calc(100% - 300px);
  text-align: center;
}

.tex h2 {
  margin: 0 0 5px;
  font-size: 50px;
}

.tex p {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 25px;
}
.tex span {
  margin: 0 0 8px;
  font-size: 20px;
  font-weight: 800;
}

.name {
  display: flex;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name input {
  border-bottom: 1px solid #000 !important  ;
  border: none;
  outline: none;
}
.pName {
  width: 500px;
  font-size: 20px;
}
.tabble {
  margin: 2em 0 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
tbody {
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  min-width: 140px;
  height: 100px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media (max-width: 768px) {
  .title {
    flex-direction: column;
    margin: 2em 0;
  }
  .logo {
    width: 100%;
    display: flex;
    margin: 0 0 2em;
  }
  .logo img {
    width: 150px;
    margin: auto;
  }
  .tex {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 425px) {
  .tex h2 {
    font-size: 30px;
    margin-bottom: 1em;
  }
  .tex p {
    font-size: 16px;
    margin-bottom: 1em;
  }
  .name {
    padding: 0 1em;
  }

  .name p {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .name p input {
    width: 100%;
  }
}
