
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
tbody {
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
}
tr > td:first-child {
    width: 200px;
}
.ext{
    height: 60px;
}